<div class="gallery">
  <h2> {{ titulo }} </h2>

  <amp-carousel width="auto" height="331">
    {{#midias}}
      <amp-img tabindex="{{ posicao }}" role="button" src="{{ transformacoes.590 }}" width="590" height="331" on="tap:lightbox{{ posicao }}"></amp-img>
    {{/midias}}
  </amp-carousel>

  {{#midias}}
    <amp-lightbox id="lightbox{{ posicao }}" class="lightbox1" layout="nodisplay">
      <div class="lightbox1-content">
        <div class="image-credit"> {{ creditos }} </div>
        <amp-img id="img{{ posicao }}" tabindex="{{ posicao }}" src="{{transformacoes.590}}" width="590" height="331" layout="responsive" on="tap:lightbox{{ posicao }}.close" role="button"></amp-img>
        <div class="image-caption"> {{ alt }} </div>
        {{{ corpo }}}
      </div>
    </amp-lightbox>
  {{/midias}}

</div>
