<div class="image-credit"><@IMAGE_CREDIT></div>
	<amp-img src="http://exame.abril.com.br<@IMAGE_SRC>" width="810" height="460" layout="responsive"></amp-img>
<div class="image-caption"><@IMAGE_CAPTION></div>
           